name: Reusable workflow
on:
  workflow_call:
    inputs:
      title:
        required: false
        type: string
        default: "hello world"
        description: " custom Title"
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: first_step
        run: echo "${{inputs.title}}"
